<h2>Users</h2>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Delete?</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= link_to u.name, u %></td>
      <td><%= u.password %></td>
      <td><%= link_to 'x', u, confirm: 'For sure?', method: :delete  %></td>
    </tr>
  <% end %>    
</table>

<p><%= link_to 'New User', new_user_path %> | <%= link_to 'Albums', albums_path %> | <%= link_to 'Photos', photos_path %></p>