<h2>Albums</h2>

<table>
  <tr>
    <th>Album Title</th>
    <th>User</th>
    <th>Actions</th>
  </tr>
  <% @albums.each do |a| %>
  <tr>
    <td><%= link_to a.title, a %></td>
    <td><%= link_to a.user.name, a.user %></td>
    <td><%= link_to 'Edit', edit_album_path(a) %></td>
    <td><%= link_to 'Delete', a, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% end %>
</table>
<p><%= link_to 'New Album', new_album_path %> | <%= link_to 'Users', users_path %> | <%= link_to 'Photos', photos_path %></p>